<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="FoodPerDay" value="5" /> <!--the nomber of food objects to try generate each day-->
    <add key="ObjectStrengthDecay" value="1" /> <!--how much strength each dynamic object will lose each day-->
    <add key="ObjectStartStrengthLow" value="2" /> <!--the lower bound of the inital strength of each dynamic object-->
    <add key="ObjectStartStrengthHigh" value="4" /> <!--the higher bound of the inital strength of each dynamic object-->
    <add key="MinObjectsPerArea" value="1" /> <!--the minimum number of objects required for an object to not ger depressed-->
    <add key="MaxObjectsPerArea" value="4" /> <!--the maximum number of objects required for an object to not ger depressed-->
	<add key="NumberOfObjects" value="10" /> <!--the number of dynamic objects that are created at the start of the day-->
    <add key="Length" value="6" /> <!--the length dimension of the board-->
    <add key="Hight" value="6" /> <!--the hight dimension of the board-->
    <add key="TimePerDay" value="100" /> <!--time per day in miliseconds-->
    <add key="ObjectSleepDaysLow" value="0" /> <!--the lower bound of how many days the dynamic object will sleep-->
    <add key="ObjectSleepDaysHigh" value="1" /> <!--the higher bound of how many days the dynamic object will sleep-->
    <add key="MaxNumberOfDays" value="20" /> <!--the number of days that the game will play-->
  </appSettings>
</configuration>