<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="FoodPerDay" value="15" />
    <add key="ObjectStrengthDecay" value="1" />
    <add key="ObjectStartStrengthLow" value="2" />
    <add key="ObjectStartStrengthHigh" value="4" />
    <add key="MinObjectsPerArea" value="1" />
    <add key="MaxObjectsPerArea" value="4" />
    <add key="NumberOfObjects" value="45" />
    <add key="Length" value="10" />
    <add key="Hight" value="10" />
    <add key="TimePerDay" value="100" />
    <add key="ObjectSleepDaysLow" value="0" />
    <add key="ObjectSleepDaysHigh" value="1" />
    <add key="MaxNumberOfDays" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>