<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="FoodPerDay" value="5"/>
		<add key="AntStrengthDecay" value="1"/>
		<add key="AntStartStrengthLow" value="2"/>
		<add key="AntStartStrengthHigh" value="4"/>
		<add key="MinAntsPerArea" value="2"/>
		<add key="MaxAntsPerArea" value="4"/>
		<add key="NumberOfAnts" value="10"/>
		<add key="Length" value="5"/>
		<add key="Hight" value="5"/>
		<add key="TimePerDay" value="1000"/>
		<add key="AntSleepDaysLow" value="1"/>
		<add key="AntSleepDaysHigh" value="3"/>
	</appSettings>
</configuration>